<img src="https://bit.ly/2VnXWr2" width="100" align="left">

# The Snail and the Well

A snail falls at the bottom of a 125 cm well. Each day the snail rises 30 cm. But at night, while sleeping, slides 20 cm because the walls are wet. How many days does it take for the snail to escape the well?

**Hint**: The snail gets out of the well when it surpasses the 125cm of height.

## Tools

1. Loop: **while**
2. Conditional statements: **if-else**
3. Function: **print()**

## Tasks

#### 1. Assign the challenge data to variables with representative names: `well_height`, `daily_distance`, `nightly_distance` and `snail_position`.

In [1]:
well_height= 125
daily_distance = 30
nightly_distance = 20
snail_position= 0
net_daily_distance = daily_distance - nightly_distance
print(net_daily_distance)

10

#### 2. Create a variable `days` to keep count of the days that pass until the snail escapes the well.

In [2]:
days = 0

#### 3. Find the solution to the challenge using the variables defined above.

In [4]:
well_height= 125
daily_distance = 30
nightly_distance = 20
snail_position= net_daily_distance
net_daily_distance = daily_distance - nightly_distance
days=0



while snail_position <= well_height:
    print("En el dia",days,"sube",net_daily_distance,"cm","lleva un total de",snail_position,"cm")
    
    days +=1
    
    snail_position += net_daily_distance
    
    
else:
    print("El caracol sale en el dia",days)

En el dia 0 sube 10 cm lleva un total de 10 cm
En el dia 1 sube 10 cm lleva un total de 20 cm
En el dia 2 sube 10 cm lleva un total de 30 cm
En el dia 3 sube 10 cm lleva un total de 40 cm
En el dia 4 sube 10 cm lleva un total de 50 cm
En el dia 5 sube 10 cm lleva un total de 60 cm
En el dia 6 sube 10 cm lleva un total de 70 cm
En el dia 7 sube 10 cm lleva un total de 80 cm
En el dia 8 sube 10 cm lleva un total de 90 cm
En el dia 9 sube 10 cm lleva un total de 100 cm
En el dia 10 sube 10 cm lleva un total de 110 cm
En el dia 11 sube 10 cm lleva un total de 120 cm
El caracol sale en el dia 12

#### 4. Print the solution.

In [4]:
print("El caracol sale en el dia",days)

El caracol sale en el dia 12

## Bonus
The distance traveled by the snail each day is now defined by a list.
```
advance_cm = [30, 21, 33, 77, 44, 45, 23, 45, 12, 34, 55]
```
On the first day, the snail rises 30cm but during the night it slides 20cm. On the second day, the snail rises 21cm but during the night it slides 20cm, and so on. 

#### 1. How many days does it take for the snail to escape the well?
Follow the same guidelines as in the previous challenge.

**Hint**: Remember that the snail gets out of the well when it surpasses the 125cm of height.

In [5]:
import pandas as pd
import numpy as np


#Datos
well_height= 125
daily_distance = [30, 21, 33, 77, 44, 45, 23, 45, 12, 34, 55]

nightly_distance = [20 for i in range(11)]

net_daily_distance = [ daily_distance - nightly_distance for daily_distance,nightly_distance in zip(daily_distance, nightly_distance)]
net_daily_distance

suma=0
days= 0

#Creamos una lista con la distancia que ha subido por dia
lista_distancia_acumulada=[]
for i in net_daily_distance:
    suma=suma+i
    lista_distancia_acumulada.append(suma)
#print(lista_distancia_acumulada)


#Creamos una lista con la altura máxima del pozo
well_height_lista = [125 for i in range (11)]
#print(well_height_lista)

#Teniendo las 2 listas hechas , podemos restarlas y sabes cual fue el día en el que salió

distance_difference= [ well_height_lista - lista_distancia_acumulada for well_height_lista,lista_distancia_acumulada in zip(well_height_lista, lista_distancia_acumulada)]

#print(distance_difference)

#Teniendo la lista de las diferencias , podemos saber cual es la más cercana a 0 y por tanto en la que salió
   
dia_de_salida = min(distance_difference, key=abs)
lista_days= [i for i in range (0,11)]

#Creamos un dataframe para visualizar los dias y la solución : dia 6


df = pd.DataFrame(list(zip(lista_distancia_acumulada, well_height_lista,distance_difference)), 
               columns =['lista_distancia_acumulada', 'well_height_lista','distance_difference'])
    

import matplotlib.pyplot as plt

df.plot(kind='line')

In [6]:
df

    lista_distancia_acumulada  well_height_lista  distance_difference
0                          10                125                  115
1                          11                125                  114
2                          24                125                  101
3                          81                125                   44
4                         105                125                   20
5                         130                125                   -5
6                         133                125                   -8
7                         158                125                  -33
8                         150                125                  -25
9                         164                125                  -39
10                        199                125                  -74

#### 2. What is its maximum displacement in one day? And its minimum? Calculate the displacement using only the travel distance of the days used to get out of the well. 
**Hint**: Remember that displacement means the total distance risen taking into account that the snail slides at night.

In [8]:
df_2=pd.DataFrame(list(zip(lista_distancia_acumulada, well_height_lista,distance_difference,net_daily_distance)), 
               columns =['lista_distancia_acumulada', 'well_height_lista','distance_difference','net_daily_distance'])



df_2

,lista_distancia_acumulada,well_height_lista,distance_difference,net_daily_distance
0,10,125,115,10
1,11,125,114,1
2,24,125,101,13
3,81,125,44,57
4,105,125,20,24
5,130,125,-5,25
6,133,125,-8,3
7,158,125,-33,25
8,150,125,-25,-8
9,164,125,-39,14
10,199,125,-74,35

In [9]:
df_3= df_2.drop(df_2.index[6:11])
df_3

,lista_distancia_acumulada,well_height_lista,distance_difference,net_daily_distance
0,10,125,115,10
1,11,125,114,1
2,24,125,101,13
3,81,125,44,57
4,105,125,20,24
5,130,125,-5,25

In [8]:
print("min:",min(df_3["net_daily_distance"]))
print("max:",max(df_3["net_daily_distance"]))

min: 1
max: 57

#### 3. What is its average progress? Take into account the snail slides at night.

In [9]:
mean = sum(net_daily_distance)/len(net_daily_distance)
print(mean)

18.09090909090909

#### 4. What is the standard deviation of its displacement? Take into account the snail slides at night.

In [12]:
np.std(net_daily_distance)

17.159437082600803